<IfModule mod_rewrite.c>
    
	#Bloquear listagem
	Options -Indexes

	Options +FollowSymLinks
	RewriteEngine on

	DefaultLanguage pt-BR
	AddDefaultCharset UTF-8

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	


	#PAGES**************************************************************


	RewriteRule ^home?$ index.php [L,QSA]
	RewriteRule ^detalhes/(.*)?$ detalhes.php?id_imovel=$1 [L,QSA]
	RewriteRule ^contato?$ contato.php [L,QSA]
	RewriteRule ^sobre?$ sobre.php [L,QSA]
	RewriteRule ^busca?$ busca.php [L,QSA]
	RewriteRule ^registrar?$ registrar.php [L,QSA]

	RewriteRule ^busca/(.*)?$ busca.php?categoria=$1 [L,QSA]



</IfModule>